<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjp2Ed8zgrXdv5cDtNaCBAPQrRWoSflLE</string>
	<key>GCM_SENDER_ID</key>
	<string>513772615885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.constdreamcoder.KoreaOneStep</string>
	<key>PROJECT_ID</key>
	<string>korea-one-step</string>
	<key>STORAGE_BUCKET</key>
	<string>korea-one-step.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:513772615885:ios:8e8fafa65e19b674f05184</string>
</dict>
</plist>
